html,
body {
  margin: 0;
  padding: 0;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
  background-color: blue;
  padding: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.heading {
  padding: 5px;
  font-size: 2.4rem;
  color: aqua;
}
.emogy {
  position: relative;
  padding: 4px;
  margin: 0px;
  height: 30px;
  transition: all 250ms;
  transform: translate(0, 25%);
}
.emogy:hover {
  background-color: aquamarine;
}
p::before {
  content: "****";
  user-select: none;
  color: white;
}
.p {
  font-size: 1.5rem;
}
.href {
  font-family: "Courier New";
  text-decoration: none;
  font-size: 1rem;
  color: rgb(238, 238, 0);
}
#project {
  font-size: 1.5rem;
  padding: 15px;
  margin:auto;
}
.name {
  font-family: "Varela Round";
  font-weight: 600;
  font-size: 1.5rem;
}

.description {
  font-size: 1.3rem;
  margin: 5px;
  color: rgb(85, 85, 85);
}
.projects {
  margin: 15px;
}
li {
  font-family: "Varela Round";
  font-size: 2rem;
}
@media (orientation: portrait) {
  .header {
    background-color: blue;
    padding: 10px;
    width: 100vw;
  }
  .heading {
    font-size: 2.6rem;
    color: aqua;
  }
}

::-webkit-scrollbar{
    width:20px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
  width: 15px;
  height: inherit;
  background: rgb(102, 102, 102); 
  border-radius: 0px;
  border: 2px solid blue;
}

