:root {
  --size:65px;
}
body {
  user-select: none;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);}
#container2 {
  font-size: 0;
}
#container1 {
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
}
#double {
  width: calc(var(--size) * 2);
  height: var(--size);
  font-size: 1.5rem;
  font-weight: 700;
}
#number,
#operator {
  width: var(--size);
  height: var(--size);
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
#previous,
#present {
  padding: 10px;
  display: block;
  text-align: right;
  min-height: calc(var(--size) * .8);
  height: fit-content;
  word-break: break-all;
  width: calc(var(--size) * 4 - 24px);
  color: aliceblue;
}
button{
  border: 1px solid chartreuse;
  outline: none;
  background-color: rgb(143, 76, 206);
}
button:hover {
  background-color: rgb(255, 255, 255);
}
button:active{
  background-color: #333;
}
#previous {
  padding: 0px;
  padding-top: 15px;
  font-size: 1rem;
}
#present {
  font-size: 2rem;
  padding-top: 0px;
}

.container {
  position: absolute;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(0, 0, 0);
}
@media (orientation : portrait){
  --size : 50px
}
